body {
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/176/085/original/pexels-vanessa-loring-5971866.jpg?1763833865");
    background-repeat: no-repeat;
    background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        font-family: Arial, Helvetica, sans-serif;
}