body {
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/176/085/original/pexels-vanessa-loring-5971866.jpg?1763833865");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #87B364;
}

.container {

    margin: 20px auto;
    max-width: 600px;

}

header {
    margin-bottom: 5px;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: #272044;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);    
    border-radius: 10px;
}
.form-container {
    
}

form {

    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
}
.instructions {
    padding: 16px;
    border: 1px solid rgba(39, 33, 66, 0.5);
    width: 80%;
    border-radius: 10px;
}

.submit-button {
    margin-left: 10px;
    background: #87B364;
    color: white;
    border: none;
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 24px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);

}

.recipe {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    line-height: 2;
    border-left: 3px solid #87B364;   
    border-radius: 10px;
}

.recipe strong {
    color: #87B364;
}
footer {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
}