body {
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/176/085/original/pexels-vanessa-loring-5971866.jpg?1763833865");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.container {

    margin: 20px auto;
    max-width: 600px;

}

header {
    margin-bottom: 5px;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: #272044;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
}



